<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyRazorApp1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyRazorApp1.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="bg-light border-bottom box-shadow mb-3 d-flex justify-content-between align-items-center">
            <!-- Logotyp -->
            <a href="/" class="d-flex align-items-center text-decoration-none">
                <img src="/images/ikon300.png" alt="Logotyp" style="height: 100px;" />
            </a>
            <!-- Datum -->
            <div>
                <span class="text-muted p-3">Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd")</span>
            </div>
        </div>
    </header>

    <!-- sidebar och main -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-md-3 border mb-5">
                <nav>
                    <ul class="nav flex-column text-center pt-4">
                        <li class="nav-item border mb-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Index" ? "current" : "")"
                                asp-page="/Index">Hem</a>
                        </li>
                        <li class="nav-item border mb-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Page"]?.ToString() == "/Razor" ? "current" : "")"
                                asp-page="/Razor">Razor</a>
                        </li>
                        <li class="nav-item border mb-3">
                            <a class="nav-link @(ViewContext.RouteData.Values["Page"]?.ToString() == "/About" ? "current" : "")"
                                asp-page="/About">Om sidan</a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- Main content -->
            <main class="col-md-8 mb-5">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="footer text-center bg-light">
        <div class="container">
            <p>Av: Adela - Kontakt via e-post: <a href="mailto:adkna2300@student.miun.se">adkna2300@student.miun.se</a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
